header {
    background-color: #3EC9A7;
    color: #E8FDFF;
    border-bottom-style: double;
    border-bottom-color: #E8FDFF;
    border-bottom-width: 8px;
    /* in lib.css, main width is 450px. Added min-width to stretch header for mobile */
    min-width: 450px;
}

#logoHeader {
    width: 3em;
    margin-left: 1em;
}

#headerBox {
  display: flex;
  align-items: center;
}

body {
    background-color: #95EBD5;
}

main {
    background-color: whitesmoke;
    padding: 16px;
}

h1 {
    font-family: lobster;
    font-size: 3em;
    margin: 0.2em;
    margin-left: 0.3em;
}

.object {
    visibility: hidden;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 1px;
}

.post .user-info {
    font-family: cabin;
    align-items: center;
}

.photo img {
    border-radius: 5%;
}

