<% if current_user %>
  <div class="new-post">
    <a href="/posts/new" class="button">New Post</a>
  </div>
<% end %>

<main role="main">
  <% @posts.each do |post| %>
    <%= erb(:'shared/post', {locals: { post: post, allow_new_comment: false }}) %>
  <% end %>
</main> 


 
 
<!-- Below is jQuery taken from a tutorial found online for the animation (see animation.css) -->
  <script>
  $(function () {
    function fadeIn(element) {
      var topOfImage = $(element).offset().top;
      
      var bottomOfWindow = $(window)[0].pageYOffset + $(window)[0].innerHeight;
      
      if (topOfImage + $(element).height() / 2 < bottomOfWindow) {
        $(element).addClass("customFadeIn");
      }
    };
    
    if ($('.object')[0]) 
      fadeIn($('.object')[0]);
    
    $(window).scroll(function() {
      //Original code for the animation to fade in when scrolled into view
      //BUT this does not work on screens that are very large (ex. monitors that are bigger than my 13" laptop,
      //as reproduced when zoomed out to <90% in browser)

        // $('.object').each(function() {
        //     var imagePos = $(this).offset().top;
  
        //  	var topOfWindow = $(window).scrollTop();
  
        //   	if (imagePos < topOfWindow+400) {
        //	  $(this).addClass("customFadeIn");
        //  	}
        //  });


      //Fixed calculation with help:
      $('.object').each(function(i, element) { fadeIn(element); });
    });
  });
  </script>